<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/viewer.min.css' />
      <meta name="viewport" content="width=device-width,initial-scale=1">
   </head>
   <body>
      <div>
         <a href="/" class="back">日付一覧に戻る</a>
         <% for (let p = 1; p < maxPage + 1; p++) { %>
         <% if (page != p) { %>
         <span class="pagebuttom">
            <a href="?page=<%- p %>"><%- p %></a>
         </span>
         <% } else { %>
         <span class="pagebuttom active">
         <%- p %>
         </span>
         <% } %>
         <% } %>
         <form method="post" class="posttoslack">
            <input type="hidden" name="dirname" value="<%- photoDir %>">
            <button type="submit">この日は見た</button>
         </form>
         <ul id="images">
            <% for (let i = 0; i < jpegArray.length; i++) { %>
            <% let imgPath = "../" + photoDir + "/" + jpegArray[i] %>
            <li>
               <figure>
                  <img src="<%- imgPath %>" alt="<%- jpegArray[i] %>">
                  <figcaption><%- jpegArray[i] %></figcaption>
               </figure>
            </li>
            <% } %>
         </ul>
         <a href="/" class="back">日付一覧に戻る</a>
         <% for (let p = 1; p < maxPage + 1; p++) { %>
         <% if (page != p) { %>
         <span class="pagebuttom">
            <a href="?page=<%- p %>"><%- p %></a>
         </span>
         <% } else { %>
         <span class="pagebuttom active">
         <%- p %>
         </span>
         <% } %>
         <% } %>
         <form method="post" class="posttoslack">
            <input type="hidden" name="dirname" value="<%- photoDir %>">
            <button type="submit">この日は見た</button>
         </form>
      </div>
      <script src="/javascript/viewer.min.js"></script>
      <script>
         const viewer = new Viewer(document.getElementById('images'));
      </script>

   </body>
</html>
